/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет подвала #2F303A */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --primary-color: #f5f4fa;
}
body {
  background-color: var(--title-color);
  font-family: Roboto;
}
/* шапка */
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-accent {
  color: var(--accent-color);
}
.menu-nav {
  left: 453px;
  top: 32px;
  font-style: normal;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.menu-nav .link {
  color: var (--title-text-color);
  text-decoration: none;
}
.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}
.menu-nav .link.current {
  color: var(--accent-color);
}
/* баннер */
.center-text {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  color: var(--title-color);
  background-color: var(--accent-color);
}
/* особенности */
.qualities {
  color: var(--title-color);
}
.title-qualities {
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text-qualities {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Чем мы занимаемся */
.main-title {
  height: 42px;
  left: 612px;
  top: 969px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.white-list {
  list-style: none;
}
/* Наша команда */
.professional-name {
  width: 151px;
  height: 19px;
  left: 275px;
  top: 1925px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var (--title-text-color);
}
.professional {
  width: 147px;
  height: 19px;
  left: 577px;
  top: 1954px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Портфолио */
.button-portfolio {
  height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  color: var(--title-text-color);
  background-color: var(--primary-color);
}
button-portfolio:focus {
  outline: none;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
}
.button-portfolio.current {
  color: var(--title-color);
  background-color: var(--accent-color);
}
/* Портфолио Проекты */
.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-line {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
